<a href="https://colab.research.google.com/github/hmaldonado12/7506R-1C2024-GRUPO6/blob/main/Copia_de_7506R_TP1_GRUPO06_ENTREGA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1. Análisis Exploratorio y Preprocesamiento de Datos**
El primer paso consiste en la selección de los datos que se van a utilizar, se deben filtrar
únicamente los anuncios de propiedades de tipo vivienda ( Casa, PH y Departamento ) ubicados
en Capital Federal cuyo tipo de operación sea venta y su precio se encuentre en dólares (USD).
Se debe separar un conjunto de entrenamiento (80%) y un conjunto de test (20%).

#### **PREPRACION DE LOS DATOS**
Crear un nuevo dataset que contemplen los siguientes atributos :
- Tipos de vivienda : Casa, Ph Y Departamentos
- Moneda de transacción : Dolares (USD)
- Ubicacion : Capital Federal

##### **1.1 Mostrar informacion del dataset con los filtros requeridos del enunciado**

In [1]:
import pandas as pd
properties_argentina = pd.read_csv('properati_argentina_2021.csv')

attributes_list = ["property_type", "operation", "property_currency", "place_l2"]
conditions_list = [["Casa", "PH","Departamento"],["Venta"],["USD"],["Capital Federal"]]

def get_dataframe_by(data, attributes: list, conditions: list):
    is_casa = data[attributes[0]] == conditions[0][0]
    is_ph = data[attributes[0]] == conditions[0][1]
    is_departamento = data[attributes[0]] == conditions[0][2]
    is_operation_venta = data[attributes[1]] == conditions[1][0]
    is_property_currency_usd = data[attributes[2]] == conditions[2][0]
    is_place_l2_capital_federal = data[attributes[3]] == conditions[3][0]
    return data[(is_casa | is_ph | is_departamento) & is_operation_venta & is_property_currency_usd & is_place_l2_capital_federal]

properties_argentina_filtered = get_dataframe_by(properties_argentina, attributes_list, conditions_list)
properties_argentina_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 25 to 10305
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        2175 non-null   object
 1   start_date                2175 non-null   object
 2   end_date                  2175 non-null   object
 3   created_on                2175 non-null   object
 4   latitud                   2076 non-null   float64
 5   longitud                  2076 non-null   float64
 6   place_l2                  2175 non-null   object
 7   place_l3                  2164 non-null   object
 8   place_l4                  103 non-null    object
 9   place_l5                  0 non-null      object
 10  place_l6                  0 non-null      float64
 11  operation                 2175 non-null   object
 12  property_type             2175 non-null   object
 13  property_rooms            2128 non-null   float64
 14  property_bedrooms         1956 non-null   float64
 15  property_surface_total    2058 non-null   float64
 16  property_surface_covered  2088 non-null   float64
 17  property_price            2175 non-null   float64
 18  property_currency         2175 non-null   object
 19  property_title            2175 non-null   object
dtypes: float64(8), object(12)
memory usage: 356.8+ KB

## **ENTENDER EL PROBLEMA**
El objetivo del tp es poder entrenar un modelo que pueda predecir el valor de venta de un inmueble en cualquier barrio de capital federal.

Antes de empezar a crear y entrenar nuestro modelo, es importante realizar las siguientes preguntas :
-  ¿ Que tipo de supervision necesitara nuestro modelo ?
    
    Tarea de aprendizaje de supervision, ya que los datos cuentan con ejemplos etiquetados( Cada instancia viene con una salida esperada, el precio del inmueble)
- ¿Que tipo de aprendizaje ?
    
    En este caso el tipo de aprendizaje es por lotes, ya que no contamos con datos que evolucionen de forma constante
- ¿ Que modelo podemos utilizar ?
    
    Puede ser un modelo de regresion ya que se pide predecir un valor.

### COMPROBACIONES PLANTEADAS EN EL TP
Las comprobaciones nos daran un entendimiento mas profundo sobre los datos. Con lo conocimientos de los datos vamos a tener mas criterio para poder limpiar los mismo y poder entrenar el modelo.
#### a) Exploración Inicial : analizar cada variable, considerando los siguientes aspectos
- Variables Cuantitativas: calcular medidas de resumen: media, mediana,moda,etc

In [2]:
properties_argentina_filtered.describe()

,latitud,longitud,place_l6,property_rooms,property_bedrooms,property_surface_total,property_surface_covered,property_price
count,2076.000000,2076.000000,0.0,2128.000000,1956.000000,2058.000000,2088.000000,2.175000e+03
mean,-34.594701,-58.447170,NaN,2.827068,2.027607,98.413508,189.377874,2.397914e+05
std,0.104794,0.282975,NaN,1.400242,1.124139,247.170358,4753.051960,3.872721e+05
min,-34.694062,-68.468140,NaN,1.000000,1.000000,14.000000,1.000000,1.154500e+04
25%,-34.619388,-58.465620,NaN,2.000000,1.000000,45.000000,40.000000,9.700000e+04
50%,-34.596064,-58.440023,NaN,3.000000,2.000000,65.000000,58.000000,1.450000e+05
75%,-34.576741,-58.406279,NaN,4.000000,3.000000,101.000000,90.000000,2.377000e+05
max,-31.390431,-58.343954,NaN,15.000000,15.000000,10500.000000,217000.000000,9.900000e+06

#### b) Variables Cualitativas: mostrar cantidad de valores posibles, y frecuencias de cada uno.

In [3]:
properties_argentina_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 25 to 10305
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        2175 non-null   object
 1   start_date                2175 non-null   object
 2   end_date                  2175 non-null   object
 3   created_on                2175 non-null   object
 4   latitud                   2076 non-null   float64
 5   longitud                  2076 non-null   float64
 6   place_l2                  2175 non-null   object
 7   place_l3                  2164 non-null   object
 8   place_l4                  103 non-null    object
 9   place_l5                  0 non-null      object
 10  place_l6                  0 non-null      float64
 11  operation                 2175 non-null   object
 12  property_type             2175 non-null   object
 13  property_rooms            2128 non-null   float64
 14  property_bedrooms         1956 non-null   float64
 15  property_surface_total    2058 non-null   float64
 16  property_surface_covered  2088 non-null   float64
 17  property_price            2175 non-null   float64
 18  property_currency         2175 non-null   object
 19  property_title            2175 non-null   object
dtypes: float64(8), object(12)
memory usage: 356.8+ KB